# P3W4 Vragenlijst

In [4]:
import math
import pandas as pd 
from scipy.stats import binom, norm, poisson, t, ttest_1samp, chi2, chisquare
studenq = pd.read_csv('vragenlijst 21-22.csv', delimiter=';', decimal=',') # decimal is komma hier

In [5]:
studenq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gapminder               89 non-null     object
 1   schrijfhand             89 non-null     object
 2   schoenmaat              89 non-null     float64
 3   lengte                  89 non-null     int64
 4   bloedgroep              89 non-null     object
 5   resus                   89 non-null     object
 6   siblings                89 non-null     int64
 7   Samenzweringen          82 non-null     object
 8   rijbewijs               89 non-null     object
 9   domicilie in Antwerpen  89 non-null     object
 10  afstudeerrichting       89 non-null     object
 11  vrijetijdsbesteding     89 non-null     object
 12  uren wiskunde           89 non-null     object
 13  informatica belangrijk  89 non-null     object
 14  uren buiten schooluren  89 non-null     object
 15  afstand tot KdG         89 non-null     float64
 16  vervoersmiddel          89 non-null     object
 17  klimaatopwarming        89 non-null     object
 18  zakgeld                 89 non-null     object
 19  stukken fruit           89 non-null     int64
 20  fruitvoorkeur           89 non-null     object
 21  besturingssysteem       89 non-null     object
 22  belangrijkste app       89 non-null     object
 23  M1 - stelen             89 non-null     int64
 24  M2 - team               89 non-null     int64
 25  M3 - beschermen         89 non-null     int64
 26  M4 - voorbeeld          89 non-null     int64
 27  M5 - embryo             89 non-null     int64
 28  M6 - vrijheid           88 non-null     float64
 29  mascotte                89 non-null     object
 30  zwaarste vak            89 non-null     object
 31  boeienste vak           89 non-null     object
 32  studiepunt              89 non-null     object
dtypes: float64(3), int64(8), object(22)
memory usage: 23.1+ KB

## 1.a Voeg een kolom toe aan het dataframe en plaats daarin de gestalte van een persoon uitgedrukt in zijn schoenmaat (maw lengte gedeeld door schoenmaat)

In [6]:
##
aantalschoenen = studenq.lengte / studenq.schoenmaat
studenq["lengte in schoenmaat"] = pd.Series(aantalschoenen)

## 1.b Iemand beweert dat de verhouding gestalte-schoenmaat van een mens gelijk is aan 4,2 met als standaardafwijking 0,05. Kan je op basis van de gegevens uit de vragenlijst dit bijtreden? En dit vanaf welk significantieniveau (alpha)?

In [7]:
# 
ttest_1samp(studenq["lengte in schoenmaat"],4.2)

TtestResult(statistic=-2.0274209177487434, pvalue=0.04564487432748237, df=88)

## 2.a Bepaal het 99% betrouwbaarheidsinterval voor de afstand tot KdG (verwijder eerst de uitschieters!).

In [8]:
def no_outliers(data):
    print(type(data))
    Q1 = data.quantile(0.25)
    Q3 = data.quantile(0.75)
    I = Q3 - Q1
    low = Q1 - 1.5 * I
    high = Q3 + 1.5 * I
    print("Low: ",low)
    print("High:",high)
    print("Len: ",len(data))
    print("Outliers:")
    print(data[(data < low) | (data > high)])
    return data[(data >= low) & (data <= high)]
afstand = no_outliers(studenq['afstand tot KdG'])
t.interval(confidence=0.99,df= afstand.count()-1,loc=afstand.mean(),scale=afstand.std()/math.sqrt(afstand.count()))

<class 'pandas.core.series.Series'>
Low:  -16.650000000000002
High: 43.75
Len:  89
Outliers:
9     48.0
44    44.0
60    44.0
Name: afstand tot KdG, dtype: float64

(10.652390235958102, 16.5383074384605)

In [9]:
#

## 2.b Iemand beweert dat de afstand tot KdG gemiddeld 19 km bedraagt. Vanaf welk significantieniveau (alpha) kan je de bewering niet weerleggen?

In [10]:
ttest_1samp(afstand,19)

TtestResult(statistic=-4.8389366398146825, pvalue=5.769460649567065e-06, df=85)

## 3. Verdeling over de verschillende bloedgroepen {"O":0.45, "A":0.4, "B":0.1, "AB":0.05}. Kan je dit op basis van de steekproef weerleggen? Neem alpha = 0,05.

In [25]:
#
bloedgroep = studenq[studenq['bloedgroep'] != "Weet ik niet"]
fo = bloedgroep.bloedgroep.value_counts()
print(fo)
aantal = fo.sum()
fe = [0.45*aantal,0.4*aantal,0.1*aantal,0.05*aantal]
chisquare(fo,fe)
#p-value is boven 0.05 (alpha)
# chi2.ppf(0.95,4-1)

bloedgroep
O     27
A     18
B      7
AB     3
Name: count, dtype: int64

Power_divergenceResult(statistic=1.3636363636363638, pvalue=0.7140802613047242)