# P3W5: Association Rules

In [35]:
#import
import pandas as pd

# Vraag 2: Fruit promotie
Een supermarkt wil mensen naar de winkel lokken met een zeer sterke promotie voor fruit. Omdat ze
op die promotie geen winst maken willen ze dat compenseren door vlak ernaast een ander soort
fruit te leggen die ze iets doen stijgen in prijs zodat de winstmarge daarop het verlies gedeeltelijk kan
compenseren. De winkel wil weten welk fruit ze in promotie moeten zetten en welk fruit het meeste
kans maakt om bij het fruit in promotie gekocht te worden.
a. Maak gebruik van de fruitvoorkeuren uit de vragenlijst dataset (fruitaankoop 20-21.csv) om
de regels op te stellen.
b. Maak met behulp van deze lijst associatieregels. Gebruik voor het apriori algoritme of het fp-
growth algoritme volgende parameters:
➢ support = 0.1
➢ confidence = 0.3
➢ minlen=2, maxlen=2)
c. Zoek de associatieregel met de hoogste confidence.
d. Welk fruit zal de winkel op basis van die regel in promotie zetten?
e. Welk fruit zal de winkel op basis van die regel naast het promotieartikel plaatsen?
f. Hoeveel procent van de studenten die de vragenlijst hebben ingevuld hebben de combinatie
van de twee fruittypes in hun top 3 staan?
g. Wat kan je zeggen over het fruit in promotie op basis van de lift?

## 1. Lees in

In [36]:
#
fruit = pd.read_csv("../DataSets/fruitaankoop 20-21.csv",delimiter=";" , header=0)
fruit

,Aardbei,Ananas,Appel,Banaan,Kers,Kiwi,Meloen,Peer,Pruim,Sinaasappel
0,True,True,False,False,False,False,True,False,False,False
1,True,False,False,False,False,True,True,False,False,False
2,True,False,True,False,False,False,False,False,False,True
3,True,False,False,True,True,False,False,False,False,False
4,True,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
94,True,False,True,True,False,False,False,False,False,False
95,True,False,True,True,False,False,False,False,False,False
96,True,False,False,False,False,True,True,False,False,False
97,True,False,True,False,False,False,False,False,False,True
98,False,False,True,False,False,True,True,False,False,False

## 2. Association Rules

In [37]:

from mlxtend.frequent_patterns import apriori,fpgrowth,association_rules
itemsets = fpgrowth(fruit, min_support=0.2, use_colnames=True)
itemsets.sort_values('support',ascending=False)

     support           itemsets
0   0.707071          (Aardbei)
5   0.505051           (Banaan)
4   0.484848            (Appel)
1   0.353535           (Meloen)
11  0.313131  (Banaan, Aardbei)
9   0.303030   (Appel, Aardbei)
2   0.282828           (Ananas)
6   0.232323             (Kers)
10  0.232323    (Banaan, Appel)
8   0.222222  (Aardbei, Ananas)
7   0.212121  (Aardbei, Meloen)
3   0.202020             (Kiwi)

## 3. Hoogste confidence

In [48]:

itemsets2 = association_rules(itemsets, min_threshold=0.2, metric= 'confidence')
itemsets2.sort_values('confidence', ascending=False).head(1)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
3,(Ananas),(Aardbei),0.282828,0.707071,0.222222,0.785714,1.111224,0.022243,1.367003,0.139565

## 4. Combinatie 2 fruittypes

## 5. Wat zegt de lift?