# P3W5: Association Rules

In [3]:
#import
import pandas as pd
from mlxtend.frequent_patterns import apriori,fpgrowth,association_rules

# voor apreorie itemsets = apriori(transactionstable, min_support=0.2, use_colnames=True)
# voor fpgrouwth itemsets = fpgrowth(transactionstable,min_support=0.2, use_colnames=True)
# dan rules = association_rules(itemsets, metric='confidence',min_threshold=0.4)

# Vraag 2: Fruit promotie

## 1. Lees in

In [4]:
#
data = pd.read_csv('../oefeningen/DataSets/fruitaankoop 20-21.csv' , sep=";")
data

,Aardbei,Ananas,Appel,Banaan,Kers,Kiwi,Meloen,Peer,Pruim,Sinaasappel
0,True,True,False,False,False,False,True,False,False,False
1,True,False,False,False,False,True,True,False,False,False
2,True,False,True,False,False,False,False,False,False,True
3,True,False,False,True,True,False,False,False,False,False
4,True,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
94,True,False,True,True,False,False,False,False,False,False
95,True,False,True,True,False,False,False,False,False,False
96,True,False,False,False,False,True,True,False,False,False
97,True,False,True,False,False,False,False,False,False,True
98,False,False,True,False,False,True,True,False,False,False

## 2. Association Rules

In [17]:
#
items = fpgrowth(data,min_support=0.1,use_colnames=True)
items.sort_values('support',ascending=False)

     support                  itemsets
0   0.707071                 (Aardbei)
3   0.505051                  (Banaan)
2   0.484848                   (Appel)
6   0.353535                  (Meloen)
10  0.313131         (Aardbei, Banaan)
9   0.303030          (Aardbei, Appel)
1   0.282828                  (Ananas)
4   0.232323                    (Kers)
15  0.232323           (Banaan, Appel)
8   0.222222         (Ananas, Aardbei)
13  0.212121         (Meloen, Aardbei)
5   0.202020                    (Kiwi)
11  0.161616           (Kers, Aardbei)
17  0.151515          (Meloen, Banaan)
14  0.131313           (Ananas, Appel)
7   0.121212             (Sinaasappel)
12  0.101010           (Aardbei, Kiwi)
16  0.101010            (Kers, Banaan)
18  0.101010  (Ananas, Aardbei, Appel)

## 3. Hoogste confidence

In [18]:
#
items2 = association_rules(items,metric='confidence',min_threshold=0.2)
items2.sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Ananas),(Aardbei),0.282828,0.707071,0.222222,0.785714,1.111224,0.022243,1.367003,0.139565
19,"(Ananas, Appel)",(Aardbei),0.131313,0.707071,0.101010,0.769231,1.087912,0.008162,1.269360,0.093023
6,(Kers),(Aardbei),0.232323,0.707071,0.161616,0.695652,0.983851,-0.002653,0.962482,-0.020934
3,(Appel),(Aardbei),0.484848,0.707071,0.303030,0.625000,0.883929,-0.039792,0.781145,-0.203125
5,(Banaan),(Aardbei),0.505051,0.707071,0.313131,0.620000,0.876857,-0.043975,0.770867,-0.221026
9,(Meloen),(Aardbei),0.353535,0.707071,0.212121,0.600000,0.848571,-0.037853,0.732323,-0.216327
8,(Kiwi),(Aardbei),0.202020,0.707071,0.101010,0.500000,0.707143,-0.041832,0.585859,-0.341667
14,(Appel),(Banaan),0.484848,0.505051,0.232323,0.479167,0.948750,-0.012550,0.950303,-0.094907
11,(Ananas),(Appel),0.282828,0.484848,0.131313,0.464286,0.957589,-0.005816,0.961616,-0.058163
13,(Banaan),(Appel),0.505051,0.484848,0.232323,0.460000,0.948750,-0.012550,0.953984,-0.098400
18,"(Aardbei, Ananas)",(Appel),0.222222,0.484848,0.101010,0.454545,0.937500,-0.006734,0.944444,-0.078947
4,(Aardbei),(Banaan),0.707071,0.505051,0.313131,0.442857,0.876857,-0.043975,0.888371,-0.324060
15,(Kers),(Banaan),0.232323,0.505051,0.101010,0.434783,0.860870,-0.016325,0.875680,-0.173913
16,(Meloen),(Banaan),0.353535,0.505051,0.151515,0.428571,0.848571,-0.027038,0.866162,-0.216327
2,(Aardbei),(Appel),0.707071,0.484848,0.303030,0.428571,0.883929,-0.039792,0.901515,-0.309524
21,(Ananas),"(Aardbei, Appel)",0.282828,0.303030,0.101010,0.357143,1.178571,0.015305,1.084175,0.211268
20,"(Aardbei, Appel)",(Ananas),0.303030,0.282828,0.101010,0.333333,1.178571,0.015305,1.075758,0.217391
1,(Aardbei),(Ananas),0.707071,0.282828,0.222222,0.314286,1.111224,0.022243,1.045875,0.341693
10,(Aardbei),(Meloen),0.707071,0.353535,0.212121,0.300000,0.848571,-0.037853,0.923521,-0.378571
17,(Banaan),(Meloen),0.505051,0.353535,0.151515,0.300000,0.848571,-0.027038,0.923521,-0.265000
12,(Appel),(Ananas),0.484848,0.282828,0.131313,0.270833,0.957589,-0.005816,0.983550,-0.079167
7,(Aardbei),(Kers),0.707071,0.232323,0.161616,0.228571,0.983851,-0.002653,0.995137,-0.053061
22,(Appel),"(Aardbei, Ananas)",0.484848,0.222222,0.101010,0.208333,0.937500,-0.006734,0.982456,-0.114583

## 4. Combinatie 2 fruittypes

In [19]:
items2.sort_values('confidence',ascending=False).head(1) # 22.222222 % want support is 0.222222222

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Ananas),(Aardbei),0.282828,0.707071,0.222222,0.785714,1.111224,0.022243,1.367003,0.139565

## 5. Wat zegt de lift?